In [17]:
import pandas as pd

# dictionary of lists
child_info = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                           'Age at first contact':[6, 12, 11, 1, 19],
                           'SEX':['M', 'm', 'F', '', 'F'],
                           'Birthday':['01/01/2002', '02/02/2003', '01/01/2000', '03/03/2023', '06/01/2012'],
                           'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

# list of dictionaries
nhs_numbers = pd.DataFrame([{'ChildId':'id1',
                             'NHS Number':'303'},
                             {'ChildId':'id2',
                              'NHS Number':'3u5029'},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},])

nhs_numbers

  ChildId NHS Number
0     id1        303
1     id2     3u5029
2     id3       gqw3
3     id4     avsgvb
4     id5     varwvw

In [18]:
import pandas as pd

filepath = "https://github.com/data-to-insight/ERN-sessions/raw/main/data/903_xlsx_errors.xlsx"

dfs = pd.read_excel(filepath, sheet_name=None)

# dfs.keys()

dfs['header'].head()

    CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
0  566910    2  27/03/2008   WROM  D051910639385     NaN    NaN
1  384923    2  09/09/2011   REFU  L034811502612     NaN    NaN
2  709901    1  14/02/2013   ABAN  Y021751958510     NaN    NaN
3  550084    2  04/05/2008   AOTH  R095578985099     NaN    NaN
4  710229    2  15/04/2002   REFU  Z095096287583     NaN    NaN

In [19]:
# 103 - The ethnicity code is either not valid or has not been entered.
# header, ETHNIC - empty, or not a valid code

ethnicity_codes = [
        "WBRI",
        "WIRI",
        "WOTH",
        "WIRT",
        "WROM",
        "MWBC",
        "MWBA",
        "MWAS",
        "MOTH",
        "AIND",
        "APKN",
        "ABAN",
        "AOTH",
        "BCRB",
        "BAFR",
        "BOTH",
        "CHNE",
        "OOTH",
        "REFU",
        "NOBT",
    ]

# .isin()

error_rows = header[~header['ETHNIC'].isin(ethnicity_codes)]

error_rows

NameError: name 'header' is not defined

In [ ]:
# 184 - Date of decision that a child should be placed for adoption is before the child was born.
# DOB - only in header, DATE_PLACED - p4a
# find rows where DATE_PLACED is before DOB -> DATE_PLACED < DOB
# DOB and DATE_PLACED as dateitme objects, merge header and p4a

# when making a selecon of more than one column pass a list of columns

merged_df = p4a.merge(header[['CHILD', 'DOB_dt']], on='CHILD', how='left')

error_rows = merged_df[merged_df['DOB_dt'] > merged_df['DATE_PLACED_dt']]

error_rows

# 302 - First episode starts before child was born.
# tables are header and episodes
# DOB from header and DECOM from episodes

In [ ]:
# sort_values()
# drop_duplicates()

epi_ordered = episodes.sort_values(['CHILD', 'DECOM_dt'], ascending=True)

first_epi = epi_ordered.drop_duplicates('CHILD', keep='first')

first_epi