In [ ]:
print('hello Poongodi')

In [ ]:
var_1 = 10 # integer
var_2 = 10.10 # float
var_3 = '10' # string

print(type(var_1))